<div class="contents_form">
  <div class="container_box">
    <h3>編集する</h3>
    <%= form_with(model: @post, local: true) do |form|  %>
      <%= form.text_field :name, placeholder: "お名前", class: 'container'%>
      <%= form.text_area :text, placeholder: "text", rows: "10", class: 'container'%>
      <%= form.submit "つぶやく", class: 'container'%>
    <% end %>
  </div>
</div>